body{
    margin: 0 auto;
    padding: 0;
    width: 360px;
    background-color: aqua;
}

header{
    height: 50px;
    background-color: #25202F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

main{
    height: fit-content;
    width: calc(100% - 60px);
    padding: 30px;
    background-color: #25202F;
    border-top: 5px solid black;
}

.container{
    width: 100%;
    height: 80px;
    border: 1px solid #fff;
}